:root {
    background-color: rgb(106, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    width: 800px;

}
nav a {
    padding: 15px;
    image-orientation: ;
    text-decoration: none;
}